/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    /* slightly better practice */
    box-sizing: inherit;
}

html {
    /* 1 rem = 10px -- ideally this is 10px for easy rem calculations -- but it is a bad practice
     * to set font-size to a fix values as users (those with eyesight problems) will have difficulty
     * increasing a font size to their desire */
    /* rem units are not supported on IE 9 and below */
    /* font-size: 10px; */
    /* Instead we specify a percentage of the user specified font-size, or browser default (usually
     * 16px)... 10px we want / 16 default = 62.5% */
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: #777;
    padding: 3rem;

    box-sizing: border-box;
}

/* --------------------------------------------------- */
/* HEADER */
/* --------------------------------------------------- */
.header {
    position: relative;
    height: 95vh; /* at every point, the header should 95% of the viewport height */
    background-image: linear-gradient(
        to right bottom,
        rgba(126, 213, 111, 0.8),
        rgba(40, 180, 133, 0.8)),
        url(../img/hero.jpg);
    background-size: cover; /* Tries to fit the element in whatever the size of the viewport is */
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);    
}

.header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;

}

.header__logo {
    height: 3.5rem; 
}

.header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 6rem;
    /* backface-visibility: hidden; */ /* to get rid of shakiness on the text */
}

.heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    /* animation-delay: 3s; */
    /* animation-iteration-count: 3; */
}

.heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;

    animation: moveInRight 1s ease-out;

    /* animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; */
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.btn:link,
.btn:visited {
    font-size: 1.6rem;
    text-transform: uppercase; 
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;

    border-radius: 10rem;
    transition: all .2s;
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px); /* this is in relation to its original state (link state) */
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
    background-color: #fff;
    color: #777;
}

.btn--animated {
   animation: moveInButton 0.5s ease-out .75s;
   animation-fill-mode: backwards; /* applies the 0% state of keyframe animation before it starts */
}

.btn::after {
    content: ""; /* need to provide this for it to display */
    display: inline-block; /* need to also provide this for it to display */
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn--white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

@keyframes moveInButton {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}